.App {
  font-family: sans-serif;
  /* text-align: center; */
}

nav {
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0px;
  }
}

.user-msg {
  color: orange;
}

.user-pic {
  height: 10rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  /* border: 4px solid; */
}

.user-greeting {
  margin-top: 0.25rem;
  margin-bottom: 0rem;
}

.user-greeting span {
  font-style: italic;
  font-weight: bold;
}

.user-list-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.movie-container {
  /* background: orange; */
  width: 20rem;

  img {
    width: 100%;
    border-radius: 1rem;
  }

  .movie-name,
  .movie-rating {
    margin: 0.75rem 0rem;
  }

  .movie-rating {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .movie-summary {
    margin: 0;
    line-height: 1.3;
  }
}

.movie-spec-container {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.movie-list-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.user-container {
  text-align: center;
}

.counter-btn-container {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.counter-btn-container-center {
  justify-content: center;
}

.add-movie-form-container {
  display: grid;
  gap: 1rem;
  max-width: 20rem;

  margin: 0rem auto;
  margin-bottom: 2rem;
}
.movie-input{
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1rem;
  margin-top: 3rem;
}