.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  
}
/* .Movie{
  
} */

.card-box{
  display: flex;
  flex-direction: column;
  place-content: center;

  border-radius: 1rem;
  border: solid 2px black;
  background-color: antiquewhite;
  width: 400px;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  gap: 3rem;
}
.pip-pic {
  object-fit: cover;
  
  height: 450px;
  width: 300px;

  /* border-radius: 50%; */
}
.p-name {
  font-family: sans-serif;
  font-style: italic;
  /* font-weight: bold; */
}